.header-container {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  .exit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
      color: $tertiary-grey;
    }
  }
}
